<div class="col-lg-10 mx-auto">
  <div class="card shadow p-3">
    <div class="card-header">
      <h4 class="card-title">Booking Confirmation</h4>
    </div>
    <div class="card-body">
      <h1>Greetings form webinar</h1>
      <h3>Hello <%= @customer.full_name %> </h3>
      <p class="lead">Your booking for <strong> <%= @workshop.name %> has been confirmed. Please find the booking details below.</strong> </p>
    </div>
    <h3>Booking Details </h3>
    <p><strong> No of Tickets:</strong> <%= @booking.no_of_tickets%></p>
    <p><strong> Amount Paid:</strong> <%= @booking.amount_paid%></p>
    <hr>
    <h4> <span class="badge bg-primary"> <%= @workshop.total_duration%> </h4>
    <h4> <span class="badge bg-primary"> <%= @workshop.daily_duration%> </h4>
      
  </div>
</div>